[submodule "vendor/nrf-hal"]
	path = vendor/nrf-hal
	url = https://github.com/nrf-rs/nrf-hal.git
[submodule "vendor/bbqueue"]
	path = vendor/bbqueue
	url = https://github.com/jamesmunns/bbqueue.git
[submodule "vendor/postcard"]
	path = vendor/postcard
	url = https://github.com/jamesmunns/postcard.git
